*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

/* ссылки */

.link {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  background-color: #849d8f;
}

.link:hover {
  color: #ffbc9e;

  background-color: #849d8f;
}

.link:focus {
  color: #ffbc9e;

  background-color: #849d8f;
}

.link-bg {
  font-size: 16px;
  line-height: 18px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  background-color: #ffffff;
}

.link-bg:hover {
  color: #e84d37;

  background-color: #ffffff;
}

.link-bg:focus {
  color: #e84d37;

  background-color: #ffffff;
}

/* кнопки */

.button {
  font: inherit;

  height: 65px;

  text-align: center;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;

  border: none;
  border-radius: 50px;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

  cursor: pointer;
}

.button:hover {
  color: #ffffff;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px #ac1000;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:focus,
.button:active {
  color: #ffffff;

  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: inset 0 2px 2px #942718;
  background-color: rgba(0, 0, 0, 0.07);
}

.button-bg {
  font: inherit;

  height: 46px;

  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;


  border: none;
  border-radius: 50px;

  box-shadow: 0 2px 2px rgba(85, 8, 0, 0.54);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);

  cursor: pointer;
}

.button-bg:hover {
  color: #fefefe;

  box-shadow: 0 1px 2px #ac1000;
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button-bg:focus,
.button-bg:active {
  color: #fceeec;

  box-shadow: inset 0 2px 2px #942718;
  background-image: linear-gradient(to top, #f26843 0%, #e74a35 100%);
}

/* карточка товара */

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 267px;

  margin-right: 25px;
  margin-bottom: 40px;
}

.catalog-item:hover .preview-wrapper  {
  display: block;
}

.preview-wrapper {
  position: absolute;

  display: none;

  bottom: -70px;
  left: -12px;

  width: 293px;
  height: 405px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;

  transition: 1s;

  z-index: 1;
}

.preview-button {
  position: absolute;

  bottom: 10px;
  left: 44px;

  display: inline-block;

  padding: 10px;

  width: 200px;
  height: 44px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

  color: #fefefe;

  z-index: 1;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  order: 1;

  margin: 0;
  margin-top: 12px;
  padding: 0;

  text-align: center;
}

.catalog-item-title {
  order: 2;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-image {
  border-radius: 50%;
}

.catalog-item-price {
  position: absolute;

  bottom: 66px;

  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-item-currency::after {
  content: "";

  position: absolute;

  top: 4px;
  right: 40px;

  width: 31px;
  height: 36px;

  background-image: url("../img/ruble.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-item-unit:before {
  content: "/";
}

.catalog-item-unit {
  order: 3;

  margin-left: 22px;

  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

/* хедер */

.main-navigation {
  display: flex;

  margin-bottom: 10px;
  padding-top: 9px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

/* главное меню */

.main-navigation .site-menu {
  display: flex;
  flex-wrap: wrap;

  width: auto;

  margin-top: 13px;
  margin-left: 4px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-link {
  display: block;

  height: 32px;

  padding: 7px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  border-radius: 16px;

  background-color: #849d8f;
}

.site-menu-item {
  position: relative;
}

.catalog-link {
  width: 87px;

  margin-left: 5px;
}

.menu-link span {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-menu-item:hover .menu-link {
  color: #323232;

  background-color: #ededed;
}

.site-menu-item:hover .site-submenu {
  display: block;
}

.menu-link:focus span,
.menu-link:active span,
.menu-link:hover span,
.menu-link.active span {
  border-bottom-color: transparent;
}

.menu-link:focus,
.menu-link:active {
  color: #323232;

  background-color: #ededed;
}

.menu-link.active {
  color: #ffffff;

  background-color: #d07058;
}

.site-submenu-item {
  background-color: #f8f7f4;
}

.main-navigation .site-submenu {
  display: none;

  position: absolute;

  margin-left: 3px;
  margin-top: 6px;

  left: 0;

  width: 143px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.first-submenu-item .submenu-link {
  position: relative;
  margin-top: 5px;

  font-weight: 700;
}

.last-submenu-item .submenu-link {
  margin-top: 2px;
  margin-bottom: 7px;
}

.first-submenu-item + li .submenu-link {
  margin-top: 9px;
}

.first-submenu-item ::after {
  content: "";

  position: absolute;

  top: 32px;
  left: 5px;
  right: 10px;

  height: 1px;

  opacity: 0.2;
  border-bottom: 1px solid #000000;
}

.first-submenu-item {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.last-submenu-item {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.submenu-link {
  display: inline-block;

  width: 143px;

  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 5px;
  margin-top: 4px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.submenu-link:hover {
  background-color: #fbded7;
}

.submenu-link:focus,
.submenu-link:active {
  background-color: #f6b5a5;
}

.submenu-link.active {
  background-color: #d07058;
}

.user-navigation-wrapper {
  display: flex;

  margin-top: 13px;
  margin-left: auto;
}

.site-search {
  position: relative;

  width: 33px;
  height: 33px;

  margin-right: 10px;
}

.search-form {
  display: none;

  position: absolute;
  right: 0;

  margin-top: 5px;

  width: 345px;
  padding: 15px 13px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.search-form input[type="search"] {
  width: 100%;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  padding: 7px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;

  background-color: #ffffff;
}

.site-search:hover {
  height: 38px;
}

.site-search:hover .search-link {
  background-color: #f8f7f4;
}

.site-search:hover .search-icon {
  fill: #000000;
}

.site-search:hover .search-form {
  display: block;
}

.search-link {
  display: block;

  position: relative;
  padding-left: 34px;

  width: 32px;
  height: 32px;

  border-radius: 16px;

  background-color: #9db1a6;
}

.search-link:hover {
  background-color: #f8f7f4;
}

.login-item:hover .login-link {
  color: #323232;
  background-color: #f8f7f4;
}

.login-item:hover .login-icon {
  fill: #000000;
}

.search-link:hover .search-icon {
  fill: #000000;
}

.search-icon {
  position: absolute;

  top: 8px;
  left: 8px;

  width: 17px;
  height: 17px;

  fill: #ffffff;
}

.main-navigation .user-navigation {
  width: 93px;
}

.login-link {
  position: relative;

  display: block;
  padding: 8px 15px;
  padding-left: 47px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #9db1a6;

  border-radius: 16px;
}

.login-icon {
  position: absolute;
  top: 6px;
  left: 18px;

  width: 21px;
  height: 19px;

  fill: #ffffff;
}

.login-link:hover {
  color: #323232;

  background-color: #f8f7f4
}

.login-link:hover .login-icon {
  fill: #000000;
}

.login-item {
  position: relative;

  width: 93px;
  height: 32px;
}

.login-item:hover .login-form {
  display: block;
}

.login-item:hover {
  height: 35px;
}

.login-form {
  display: none;

  position: absolute;
  right: 0;

  margin-top: 5px;

  width: 277px;

  padding: 15px 20px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.login-form-field {
  margin: 0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;

  margin-bottom: 20px;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  padding: 7px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;

  background-color: #ffffff;
}

.login-form-link {
  display: block;

  text-decoration: underline;

  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: #323232;

  border: transparent;
  background-color: #f8f7f4;
}

.login-form-link:hover {
  background-color: #f8f7f4;
}

.login-form-link:active,
.login-form-link:focus {
  background-color: #f8f7f4;
}

.login-wrapper {
  display: flex;
}

.login-button {
  order: 1;

  width: 100px;
  height: 45px;

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #fefefe;
}

.login-link-wrapper {
  order: 2;

  display: flex;
  flex-direction: column;

  margin-left: auto;
}

.cart-link {
  position: relative;

  display: block;

  padding: 8px 15px;
  padding-left: 42px;
  width: 117px;

  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;

  border-radius: 16px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.cart-empty {
  position: relative;

  display: block;

  padding: 8px 15px;
  padding-left: 45px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #9db1a6;

  border-radius: 16px;
}

.cart-empty::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/cart-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-cart {
  position: relative;

  margin-left: 12px;

  height: 32px;
}

.site-cart:hover {
  height: 35px;
}

.site-cart:hover .cart-wrapper {
  display: block;
}

.cart-wrapper {
  display: none;

  position: absolute;
  right: 0;

  margin-top: 5px;

  width: 539px;

  padding: 15px 20px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.cart-item {
  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.cart-item-count {
  margin-left: 30px;
}

.cart-item-link {
  display: flex;
  align-items: center;

  margin-left: 10px;
}

.cart-item-thumbnail {
  width: 33px;
  height: 33px;

  border-radius: 50%;
}

.cart-item-title {
  width: 228px;
  margin-left: 13px;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  color: #323232;

  background-color: #f8f7f4;
}

.cart-item-count {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  color: #323232;

  background-color: #f8f7f4;
}

.cart-item-price {
  color: #999999;
}

.cart-item-total-price {
  margin-left: auto;

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  color: #323232;

  background-color: #f8f7f4;
}

.cart-item-remove {
  position: relative;

  width: 11px;
  height: 11px;

  border: none;
  background-color: transparent;

  cursor: pointer;
}

.cart-item-remove::before,
.cart-item-remove::after {
  content: "";

  position: absolute;

  left: -2px;

  width: 15px;
  height: 1px;

  background-color: #231f20;
}

.cart-item-remove::before {
  transform: rotate(45deg);
}

.cart-item-remove::after {
  transform: rotate(-45deg);
}

.cart-items::after {
  content: "";

  display: block;
  width: 510px;

  margin-top: 20px;

  border-bottom: 1px solid #cacac7;
}

.cart-total-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  margin-top: 15px;
}

.cart-items-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

  color: #323232;

  background-color: #f8f7f4;
}

.checkout-button {
  display: block;

  height: 45px;

  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 13px;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #fefefe;

  width: 170px;
}

/* основной контент */

/* блок преимуществ */

.features {
  margin-bottom: 40px;
  padding: 4px 20px;

  color: #323232;

  background-color: #eee2cc;

  border-radius: 16px;

  background-image: url("../img/features-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features h2 {
  margin: 0;
  margin-top: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-item:nth-child(2n) {
  width: 538px;

  padding-left: 59px;
}

.features-item:nth-child(2n - 1) {
  margin-right: 20px;
}

.features-items {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 22px;

  list-style: none;
}

.features-item {
  width: 544px;

  padding-left: 56px;
  margin-bottom: 22px;

  position: relative;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.ice-cream-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cow-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.eco-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.temperature-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.index-top-content {
  min-height: 1150px;

  margin-bottom: 45px;
}

.index-bottom-content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

/* анонс в блоге */

.blog-post-announcement {
  min-height: 220px;

  width: 560px;

  padding: 20px;
  padding-top: 12px;

  color: #323232;

  background-color: #ffffff;

  border-radius: 16px;

  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blog-post-announcement h2 {
  margin: 0;
  margin-top: 13px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-post-announcement a {
  display: block;
  margin-top: 4px;

  width: 315px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

/* подписка */

.subscribe {
  width: 560px;

  padding: 6px;

  border-radius: 16px;

  background-image: url("../img/subscribe-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.subscribe-content {
  height: 100%;
  padding: 15px;
  
  color: #5a5a5a;

  background-color: #f8f7f4;

  border-radius: 16px;
}

.subscribe p {
  margin: 0;
  margin-left: 5px;
  margin-top: 13px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe-form {
  margin-top: 38px;
  margin-left: 5px;
}

.subscribe input {
  width: 368px;

  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 11px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  background-color: #ffffff;
}

.subscribe button {
  margin-left: 8px;

  width: 129px;
  height: 44px;

  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
}

.index-map {
  width: 1250px;
  height: 430px;

  margin: 0 auto;
}

.inner-page {
  display: flex;
  flex-direction: column;
}

.inner-page .breadcrumbs {
  order: 1;
}

.inner-page h1 {
  order: 2;
}

.inner-page .catalog {
  order: 4;
}

/* футер */

.main-footer {
  display: flex;
  justify-content: space-between;

  margin-top: 19px;
  margin-bottom: 30px;
}

.social-items {
  display: flex;

  margin: 0;
  margin-top: 17px;
  margin-left: 3px;
  padding: 0;

  list-style: none;
}

.social-items li {
  margin-right: 10px;
}

.social-button {
  display: block;

  padding: 15px 15px;

  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover {
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-button:focus {
  border: 4px solid rgba(255, 255, 255, 1);
}

.social-button-twitter {
  background: url("../img/twitter.svg") no-repeat center center;
}

.social-button-inst {
  background: url("../img/instagram.svg") no-repeat center center;
}

.social-button-fb {
  background: url("../img/fb.svg") no-repeat center center;
}

.social-button-vk {
  background: url("../img/vk.svg") no-repeat center center;
}

.info-items {
  display: flex;
  flex-wrap: wrap;

  width: 360px;

  padding: 0;
  margin: 0;
  margin-top: 13px;
  margin-left: 50px;

  position: relative;

  list-style: none;
}

.info-items li {
  min-width: 120px;
  margin-right: 24px;
}

.info-items a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.for-vendors {
  position: relative;
}

.for-vendors::after {
  content: "";

  position: absolute;

  top: 2px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.for-vendors.link {
  font-weight: 700;
}

.footer-copyright > a {
  display: block;
}

.footer-copyright p {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  background-color: #849d8f;
}

.footer-copyright p > a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  background-color: #849d8f;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* breadcrumbs */

.breadcrumbs {
  display: flex;

  list-style: none;
  color: #ffffff;

  margin: 0;
  margin-top: 13px;
  margin-bottom: 10px;
  padding: 0;

  background-color: #849d8f;
}

.inner-page h1 {
  margin: 0;
  margin-top: 2px;
  margin-bottom: 10px;
}

.breadcrumbs span {
  display: inline-block;
  border-bottom: 1px solid #ffffff;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border: transparent;
}

.breadcrumbs-link::after {
  content: "»";
  margin-left: 7px;
  margin-right: 7px;
}

.breadcrumbs-current a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  border-bottom-color: transparent;
}

.inner-top-content {
  order: 3;
  min-height: 198px;
}

.inner-bottom-content {
  min-height: 91px
}

/* модальные окна еще не размечаем */
.modal {
  display: none;
}
