*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

/* ссылки */

.link {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  background-color: #849d8f;
}

.link:hover {
  color: #ffbc9e;

  background-color: #849d8f;
}

.link:focus {
  color: #ffbc9e;

  background-color: #849d8f;
}

.link-bg {
  font-size: 16px;
  line-height: 18px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  background-color: #ffffff;
}

.link-bg:hover {
  color: #e84d37;

  background-color: #ffffff;
}

.link-bg:focus {
  color: #e84d37;

  background-color: #ffffff;
}

/* кнопки */

.button {
  font: inherit;

  text-align: center;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;

  background-color: #e94f37;
}

.button:focus {
  color: #ffffff;

  background-color: #ee7360;
}

.button:active {
  color: #ffffff;

  background-color: #de5a3b;
}

.button-bg {
  font: inherit;

  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;

  background-color: #b93542;
}

.button-bg:focus {
  color: #fefefe;

  background-color: #de593b;
}

.button-bg:active {
  color: #fceeec;

  background-color: #b93542;
}

/* карточка товара */

.catalog-items {
  list-style: none;
}

.catalog-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-item-currency {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item-unit {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

/* главное меню */

.main-navigation ul {
  list-style: none;
}

.menu-link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;

  background-color: #849d8f;
}

.menu-link:hover {
  background-color: #ededed;
}

.menu-link:focus,
.menu-link:active {
  background-color: #ededed;
}

.menu-link.active {
  color: #ffffff;

  background-color: #d07058;
}

.submenu-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.submenu-link:hover {
  background-color: #fbded7;
}

.submenu-link:focus,
.submenu-link:active {
  background-color: #f6b5a5;
}

.submenu-link.active {
  background-color: #d07058;
}

.login-link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #89a193
}

.login-link:hover {
  color: #323232;

  background-color: #f8f7f4
}

.cart-link {
  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4
}

.cart-empty {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #89a193
}

/* блок преимуществ */

.features {
  color: #323232;

  background-color: #eee2cc
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-items {
  list-style: none;
}

.features-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

/* анонс в блоге */

.blog-post-announcement {
  color: #323232;

  background-color: #ffffff;
}

.blog-post-announcement h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-post-announcement a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

/* подписка */

.subscribe {
  color: #5a5a5a;

  background-color: #f8f7f4;
}

.subscribe p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe input {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  background-color: #ffffff;
}

/* футер */

.social-items,
.info-items {
  list-style: none;
}

.info-items a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.for-vendors.link {
  font-weight: 700;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  background-color: #849d8f;
}

.footer-copyright p > a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  background-color: #849d8f;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;
  color: #ffffff;

  background-color: #849d8f;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-bottom-style: none;
}

/* попапы/модальные окна еще не размечаем */
.popup,
.modal {
  display: none;
}
