*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 27px;
  padding-right: 27px;
  margin: 0 auto;
}

/* ссылки */

.link {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  background-color: #849d8f;
}

.link:hover {
  color: #ffbc9e;

  background-color: #849d8f;
}

.link:focus {
  color: #ffbc9e;

  background-color: #849d8f;
}

.link-bg {
  font-size: 16px;
  line-height: 18px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  background-color: #ffffff;
}

.link-bg:hover {
  color: #e84d37;

  background-color: #ffffff;
}

.link-bg:focus {
  color: #e84d37;

  background-color: #ffffff;
}

/* кнопки */

.button {
  font: inherit;

  text-align: center;
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;

  background-color: #e94f37;
}

.button:focus {
  color: #ffffff;

  background-color: #ee7360;
}

.button:active {
  color: #ffffff;

  background-color: #de5a3b;
}

.button-bg {
  font: inherit;

  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;

  background-color: #b93542;
}

.button-bg:focus {
  color: #fefefe;

  background-color: #de593b;
}

.button-bg:active {
  color: #fceeec;

  background-color: #b93542;
}

/* карточка товара */

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  display: flex;
  flex-direction: column;

  width: 267px;

  margin-right: 25px;
  margin-bottom: 40px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  order: 1;

  text-align: center;
}

.catalog-item-title {
  order: 2;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-item-price {
  order: 3;

  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.catalog-item-currency {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-item-currency::after {
  content: "/";
}

.catalog-item-unit {
  order: 3;

  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
  color: #ffffff;
}

/* хедер */

.main-navigation {
  display: flex;

  margin-bottom: 10px;
  padding-top: 9px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

/* главное меню */

.main-navigation .site-menu {
  display: flex;
  flex-wrap: wrap;

  width: auto;

  margin-top: 13px;
  margin-left: 7px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu-link {
  display: block;
  padding: 8px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;

  border-radius: 16px;

  background-color: #849d8f;
}

.site-menu-item {
  position: relative;
}

.menu-link span {
  display: inline-block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-link:hover {
  color: #323232;

  background-color: #ededed;
}

.menu-link:focus span,
.menu-link:active span,
.menu-link:hover span,
.menu-link.active span {
  border-bottom: none;
}

.menu-link:focus,
.menu-link:active {
  color: #323232;

  background-color: #ededed;
}

.menu-link.active {
  color: #ffffff;

  background-color: #d07058;
}

.submenu-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;

  background-color: #f8f7f4;
}

.submenu-link:hover {
  background-color: #fbded7;
}

.submenu-link:focus,
.submenu-link:active {
  background-color: #f6b5a5;
}

.submenu-link.active {
  background-color: #d07058;
}

.user-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;

  width: auto;
  margin-top: 13px;
  margin-left: auto;
}

.site-search {
  position: relative;

  width: 33px;
  height: 33px;

  margin-right: 10px;
}

.search-form {
  display: none;

  position: absolute;
  right: 0;

  margin-top: 5px;

  width: 345px;
  padding: 15px 13px;

  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.search-form input[type="search"] {
  width: 100%;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #ffffff;

  padding: 7px;

  border-radius: 5px;
  border: 1px solid #d3d3d2;
}

.site-search:hover {
  height: 38px;
}

.site-search:hover .search-form {
  display: block;
}

.search-link {
  display: block;

  position: relative;
  padding-left: 34px;

  width: 32px;
  height: 32px;

  border-radius: 16px;

  background-color: #9db1a6;
}

.search-link:hover {
  background-color: #f8f7f4;
}

.search-link:hover .search-icon {
  fill: #000000;
}

.search-icon {
  position: absolute;

  top: 8px;
  left: 8px;

  width: 17px;
  height: 17px;

  fill: #ffffff;
}

.main-navigation .user-navigation {
  width: 93px;
  margin-right: 10px;
}

.login-link {
  position: relative;

  display: block;
  padding: 8px 15px;
  padding-left: 42px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #9db1a6;

  border-radius: 16px;
}

.login-icon {
  position: absolute;
  top: 6px;
  left: 18px;

  width: 21px;
  height: 19px;

  fill: #ffffff;
}

.login-link:hover {
  color: #323232;

  background-color: #f8f7f4
}

.login-link:hover .login-icon {
  fill: #000000;
}

.site-cart {
  width: 100px;
}

.cart-link {
  position: relative;

  display: block;

  padding: 8px 15px;
  padding-left: 42px;
  width: 117px;

  font-size: 14px;
  line-height: 16px;
  color: #323232;

  background-color: #f8f7f4;

  border-radius: 16px;
}

.cart-link::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.cart-empty {
  position: relative;

  display: block;

  padding: 8px 15px;
  padding-left: 42px;

  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  background-color: #9db1a6;

  border-radius: 16px;
}

.cart-empty::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;

  background-image: url("../img/cart-empty.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* основной контент */

/* блок преимуществ */

.features {
  margin-bottom: 40px;
  padding: 4px 20px;

  color: #323232;

  background-color: #eee2cc;

  border-radius: 16px;

  background-image: url("../img/features-bg.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features h2 {
  margin: 0;
  margin-top: 20px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-item:nth-child(2n) {
  width: 538px;

  padding-left: 59px;
}

.features-item:nth-child(2n - 1) {
  margin-right: 20px;
}

.features-items {
  display: flex;
  flex-wrap: wrap;

  padding: 0;
  margin: 0;
  margin-top: 22px;

  list-style: none;
}

.features-item {
  width: 544px;

  padding-left: 56px;
  margin-bottom: 22px;

  position: relative;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.ice-cream-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cow-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.eco-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.temperature-icon::before {
  content: "";

  position: absolute;

  top: -13px;
  left: 0;

  width: 49px;
  height: 49px;

  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.index-top-content {
  min-height: 1150px;

  margin-bottom: 45px;
}

.index-bottom-content {
  display: flex;
  justify-content: space-between;

  margin-bottom: 40px;
}

/* анонс в блоге */

.blog-post-announcement {
  min-height: 220px;

  width: 560px;

  padding: 20px;
  padding-top: 10px;

  color: #323232;

  background-color: #ffffff;

  border-radius: 16px;

  background-image: url("../img/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.blog-post-announcement h2 {
  margin: 0;
  margin-top: 13px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-post-announcement a {
  display: block;
  margin-top: 4px;

  width: 315px;

  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
  color: #323232;
}

/* подписка */

.subscribe {
  width: 560px;

  padding: 6px;

  border-radius: 16px;

  background-image: url("../img/subscribe-bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.subscribe-content {
  height: 100%;
  padding: 20px;
  
  color: #5a5a5a;

  background-color: #f8f7f4;

  border-radius: 16px;
}

.subscribe p {
  margin: 0;
  margin-top: 7px;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.subscribe-form {
  margin-top: 36px;
}

.subscribe input {
  width: 368px;

  padding-left: 14px;
  padding-top: 8px;
  padding-bottom: 7px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;

  background-color: #ffffff;
}

.subscribe button {
  width: 129px;

  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
}

.index-map {
  width: 1250px;
  height: 430px;

  margin: 0 auto;
}

/* футер */

.main-footer {
  display: flex;
  justify-content: space-between;

  margin-top: 18px;
  margin-bottom: 30px;
}

.social-items {
  display: flex;

  margin: 0;
  margin-top: 17px;
  margin-left: 3px;
  padding: 0;

  list-style: none;
}

.social-items li {
  margin-right: 10px;
}

.social-button {
  display: block;

  padding: 15px 15px;

  border: 4px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover {
  border: 4px solid rgba(255, 255, 255, 0.7);
}

.social-button:focus {
  border: 4px solid rgba(255, 255, 255, 1);
}

.social-button-twitter {
  background: url("../img/twitter.svg") no-repeat center center;
}

.social-button-inst {
  background: url("../img/instagram.svg") no-repeat center center;
}

.social-button-fb {
  background: url("../img/fb.svg") no-repeat center center;
}

.social-button-vk {
  background: url("../img/vk.svg") no-repeat center center;
}

.info-items {
  display: flex;
  flex-wrap: wrap;

  width: 360px;

  padding: 0;
  margin: 0;
  margin-top: 10px;
  margin-left: 50px;

  position: relative;

  list-style: none;
}

.info-items li {
  min-width: 120px;
  margin-right: 24px;
}

.info-items a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

.for-vendors {
  position: relative;
}

.for-vendors::after {
  content: "";

  position: absolute;

  top: 2px;
  left: -20px;

  width: 15px;
  height: 13px;

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.for-vendors.link {
  font-weight: 700;
}

.footer-copyright > a {
  display: block;
}

.footer-copyright p {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  background-color: #849d8f;
}

.footer-copyright p > a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  background-color: #849d8f;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* breadcrumbs */

.breadcrumbs {
  list-style: none;
  color: #ffffff;

  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  background-color: #849d8f;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  border-bottom-style: none;
}

/* попапы/модальные окна еще не размечаем */
.popup,
.modal {
  display: none;
}
